! Set screen scaling in multiples of 96
Xft.dpi: 96
!125
!192
!144
!135 
! default is 125

! These might also be useful depending on your monitor and personal preference:
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
!Xft.rgba: rgb

! Set cursor theme name and size
!Cursor theme name
Xcursor.theme: Adwaita
!Cursor size 32
Xcursor.size: 36
