* {
    border: none;
    border-radius: 2px;
    /* otf-font-awesome is required to be installed to display icons */
    font-family: "Roboto Mono Medium", Helvetica, Arial, sans-serif;
    font-size: 10px;
    min-height: 0;
}

window#waybar {
    background-color: #000000;
    color: #FFFFFF;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 0.4em;
    background-color: transparent;
    color: #FFFFFF;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/*
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #FFFFFF;
}
*/

#workspaces button.focused {
    background-color: #0074D9;
}

#workspaces button.urgent {
    background-color: #FF4136;
}


#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#language,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 6px 3px;
    color: #FFFFFF;
    background-color: #0074D9;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #FFFFFF;
    background-color: #000000;
}

#battery.charging {
    color: #000000;
    background-color: #01FF70;
}

@keyframes blink {
    to {
        background-color: #FFFFFF;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #FF4136;
    color: #FFFFFF;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#tray {
    background-color: #000000;
}

#language {
    padding: 0 5px;
    margin: 6px 3px;
    min-width: 16px;
}

#cpu {
    color: #FFFFFF;
}

#memory {
    background-color: #0074D9;
}

#network.disconnected {
    background-color: #FF4136;
}

#pulseaudio.muted {
    background-color: #0074D9;
}

#custom-media {
    min-width: 100px;
}

#temperature {
}

#temperature.critical {
}


#idle_inhibitor {
}

#idle_inhibitor.activated {
}

#mode {
    background-color: #FFFFFF;
    color: #000000;
    border-bottom: 3px solid #FFFFFF;
}
